__pycache__
*.pyc
/plot
/checkpoints
.DS_Store
/pretrained
/logs
/json_csv_files
/exp_logs
*.log
__pycache__
*.pyc
/plot
/checkpoints
/collected_results
.DS_Store
/pretrained
/logs
/json_csv_files*
/backup*
*.log
*.out
/saved*